/**
 * colors
 */
/**
 * Mixins
**/
.clear {
  clear: both;
}
.hidden {
  display: none;
}
.box {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #e7e8e9;
  margin-bottom: 1em;
}
.box a {
  color: black;
}
.link {
  text-decoration: none;
  border-bottom: 1px dotted;
}
.link:hover {
  border-bottom: 1px solid;
  text-decoration: none;
}
.nav-link {
  text-decoration: none;
  border-bottom: 1px dotted;
  border-bottom: none;
}
.nav-link:hover {
  border-bottom: 1px solid;
  text-decoration: none;
}
.nav-link:hover {
  border-bottom: 1px dotted;
  text-decoration: none;
}
.menu li {
  display: inline;
  margin-right: 2%;
}
.menu li:last-child {
  margin-right: 0;
  padding-right: 0;
}
.input {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: transparent !important;
  color: white;
  border: 1px solid;
  border-color: white;
  padding-left: 0.5em;
  text-align: left;
}
.input:focus {
  color: white;
  box-shadow: white;
}
.wb {
  background-color: black;
  color: white;
}
.table table {
  padding: 0 4px;
  font-size: 90%;
}
.table table a {
  color: #333333;
}
.table table td {
  padding: 0 4px;
}
.table thead {
  font-weight: bolder;
}
/**
 * make possible to exchange columns order on mobile devices, i.e.
 * <div class="col-md-9 floatright">right col on medium sizes</div>
 * <div class="col-md-3">right col on mobile devices</div>
*/
.floatright {
  float: right;
}
@media screen and (max-width: 767px) {
  .floatright {
    float: none;
  }
}
/**
 * Fonts
 */
strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', Arial, sans-serif;
  font-weight: bold;
}
.red {
  color: #be0000;
}
/**
 * Body 
 */
body {
  font-family: 'Lato', Arial, sans-serif;
  background-color: white;
  line-height: 1.25em;
}
/**
 * Navbar defaults
 */
.navbar-default {
  background: none;
  border: none;
}
.navbar-default .navbar-nav > .active > a {
  background: none;
  font-weight: bolder;
}
.navbar {
  min-height: 0;
  margin-bottom: 0;
}
.navbar-nav > li > a {
  padding-top: 1em;
  padding-bottom: 1em;
}
.navbar-nav > li > a:hover {
  color: #5a5a5a;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #808080;
}
/*
@media screen and (max-width: 768px) {
  .navbar {
    min-height: 50px;
    margin-bottom: 20px;
  }
}
*/
/**
 * Header
**/
div.header-left {
  margin: 1em 0;
}
div.header-left img#logo {
  max-width: 100%;
}
div.form-group {
  text-align: right;
}
div.navbar-form button[type="submit"] {
  color: #808080;
}
div.navbar-form button[type="submit"]:hover {
  color: #5a5a5a;
}
div.search,
div.aree-riservate {
  float: right;
}
div.search a,
div.aree-riservate a {
  padding-right: 6px;
  padding-left: 6px;
  text-decoration: none;
}
div.search a:hover,
div.aree-riservate a:hover {
  text-decoration: underline;
  color: #5a5a5a;
}
div.aree-riservate ul {
  margin-right: 15px;
}
button.search {
  padding: 0.25em 10px;
  margin: 0.75em 15px;
  width: 120px;
  text-align: left;
  background: none;
  border: solid 1px #c8c8c8;
  color: #808080;
}
input.search {
  width: 80%;
}
div.top-menu ul.navbar-nav {
  float: right;
  text-align: right;
}
div.top-menu ul.navbar-nav li {
  padding: 0 6px 0 0;
}
div.top-menu ul.navbar-nav li:last-child {
  padding-right: 0;
}
div.top-menu ul.navbar-nav li a {
  padding: 0;
  color: #5a5a5a;
}
i.fa-twitter,
i.fa-facebook,
i.fa-facebook-square,
i.fa-youtube-play {
  color: #005495;
}
i.fa-twitter:hover,
i.fa-facebook:hover,
i.fa-facebook-square:hover,
i.fa-youtube-play:hover {
  color: #333333;
}
ul.navbar-nav .tooltip {
  margin-top: 1em;
}
div.banner img {
  width: 100%;
}
div.main-nav nav.navbar {
  background-color: #005495;
  -webkit-box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
div.main-nav nav.navbar a {
  font-size: 115%;
  color: white;
  text-decoration: none;
}
div.main-nav nav.navbar a:hover {
  color: white;
  text-decoration: underline;
}
div.main-nav ul.navbar-nav {
  float: right;
  text-align: right;
  text-transform: uppercase;
  font-weight: bolder;
}
@media screen and (max-width: 991px) {
  div.search {
    display: none;
  }
  div.aree-riservate {
    margin-left: 15px;
    margin-bottom: 1em;
    float: left;
  }
  div.aree-riservate .nav li {
    display: inline;
  }
  div.aree-riservate a {
    display: inline;
    padding: 0 6px 0 0;
  }
  /*  div.header-right {
      display: none;
    }
  */div.main-nav ul.navbar-nav {
    float: none;
    text-align: left;
  }
  div.secondary-nav li {
    margin-bottom: 1em;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  div.main-nav ul.navbar-nav {
    float: right;
    text-align: right;
  }
}
@media screen and (max-width: 768px) {
  div.banner {
    display: none;
  }
  div.main-nav nav.navbar a {
    width: 100%;
  }
  .navbar-default .navbar-toggle {
    margin-top: 15px;
    margin-left: 15px;
  }
}
/**
 * Sidebar
**/
div.sidebar {
  margin-top: 1.5em;
}
div.icons ul {
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-size: 1.2em;
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}
div.icons ul li {
  display: inline;
  padding-left: 0;
  margin-right: 12px;
  font-size: 120%;
}
div.icons ul li:last-child {
  margin-right: 0;
}
div.icons ul li a {
  text-decoration: none;
  color: #005495;
}
div.icons ul li a:hover {
  color: black;
}
@media screen and (max-width: 991px) {
  div.icons {
    /* uncomment display: none if icons should be displayed */
  
    /*display: none;*/
  
  }
  div.icons ul {
    margin: 2em 0;
  }
  div.icons ul li {
    margin-right: 50px;
    font-size: 130%;
  }
}
div.box header {
  border-bottom: #fffcf8 solid 1px;
  padding: 1em 15px 0.5em 15px;
}
div.box header h2 {
  font-size: 100%;
  text-transform: uppercase;
  margin: 0;
}
div.box header h2 span {
  font-weight: normal;
}
div.box div.box-content {
  padding: 1em 15px;
}
div.box div.box-content ul {
  list-style-type: none;
  padding-left: 0;
}
div.box div.box-content ul li {
  display: inline;
  text-align: left;
}
div.box div.box-content form {
  font-size: 90%;
}
div.box div.box-content form label {
  margin-bottom: 0;
}
div.box div.box-content form input {
  text-align: left;
  padding: 0.25em 6px;
  margin-bottom: 0.25em;
}
div.box div.box-content form input[type="submit"] {
  margin-top: 0.5em;
}
div.box div.box-content div.filtro {
  margin-bottom: 1em;
}
div.box div.box-content div.filtro a {
  color: #0071bb;
}
input#TravelPlannerContent_btnRoute {
  margin-top: 0.5em;
}
div#travel-planner ul {
  font-size: 90%;
}
div#travel-planner a {
  color: #5a5a5a;
}
div#travel-planner a.active {
  font-weight: bolder;
}
div#travel-planner h2 a {
  color: black;
}
div#travel-planner form input[type=submit] {
  margin-top: 0.5em;
  background-color: #808080;
  color: white;
}
div#avvisi div.list-icon {
  width: 10%;
  float: left;
}
div#avvisi div.list-content {
  margin-left: 10%;
  padding-left: 5%;
}
div#avvisi div.list-content h3 {
  margin: 0;
  margin-bottom: 0.25em;
  font-size: 90%;
  text-transform: uppercase;
  font-weight: bolder;
  color: #005495;
}
div#avvisi div.list-content h4 {
  margin: 0;
  margin-bottom: 0.25em;
  font-size: 85%;
}
div#secondary-nav ul {
  list-style-type: none;
  padding-left: 15px;
}
div#secondary-nav ul li {
  display: block;
}
div#secondary-nav ul ul {
  padding-left: 15px;
}
div#secondary-nav ul ul li:last-child {
  margin-bottom: 0.5em;
}
div#secondary-nav a {
  color: black;
}
div#secondary-nav a.active {
  font-weight: bolder;
}
@media screen and (max-width: 991px) {
  div#secondary-nav ul ul {
    padding-left: 15px;
  }
  div#secondary-nav ul ul li:last-child {
    margin-bottom: 1.5em;
  }
}
/**
 * Content
**/
div.content figure {
  position: relative;
}
div.content figure img {
  width: 100%;
}
div.content figure figcaption {
  position: absolute;
  bottom: 0;
  padding: 1em 15px;
  font-weight: bolder;
  text-transform: uppercase;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
}
/* pagina secondaria std */
div.content.secondary {
  min-height: 40em;
}
div.content.secondary .condividi {
  color: #808080;
  font-size: 85%;
}
div.content.secondary .fa {
  color: #005495;
}
div.content.secondary .sep {
  padding: 0 4px;
  color: #808080;
}
div.content.secondary header {
  margin-top: 2.5em;
}
div.content.secondary header h2 {
  margin: 0;
  font-size: 120%;
  font-weight: bolder;
  text-transform: uppercase;
  float: left;
  width: 70%;
}
div.content.secondary header ul {
  margin-left: 72%;
  width: 28%;
  padding-left: 0;
  text-align: right;
  list-style-type: none;
}
div.content.secondary header ul li {
  display: inline;
}
div.content.secondary header ul li a {
  color: #5a5a5a;
}
div.content.secondary header ul li.condividi {
  padding-right: 6px;
}
div.content.secondary section.cnt {
  clear: both;
}
div.content.secondary section.cnt img {
  max-width: 100%;
  margin: 1em 0;
}
div.content.secondary section.cnt .sottotitolo {
  font-size: 120%;
  font-weight: bolder;
}
div.content.secondary section.cnt .sottotitolo-colorato {
  font-size: 120%;
  font-weight: bolder;
  color: #005495;
}
div.content.secondary section.cnt .small {
  font-size: 85%;
  font-weight: normal;
}
div.content.secondary section.cnt .normal {
  font-size: 100%;
  font-weight: normal;
  color: #333333;
}
div.content.secondary section.cnt div.area-riservata {
  font-size: 90%;
  margin-top: 1em;
}
div.content.secondary section.cnt div.area-riservata label {
  margin-bottom: 0;
}
div.content.secondary section.cnt div.area-riservata input {
  text-align: left;
  padding: 0.5em 6px;
  margin-bottom: 0.5em;
}
div.content.secondary section.cnt div.area-riservata input[type=button] {
  margin-top: 0.5em;
  width: 15%;
  text-align: center;
}
div.content.secondary section.cnt div.area-riservata div.recupero,
div.content.secondary section.cnt div.area-riservata div.profilazione {
  background-color: #e7e8e9;
  padding: 1em 15px;
  margin: 1em 0;
}
div.content.secondary section.cnt div.area-riservata div.recupero a,
div.content.secondary section.cnt div.area-riservata div.profilazione a {
  color: #333333;
}
div.content.secondary section.cnt div.area-riservata div.recupero div.second,
div.content.secondary section.cnt div.area-riservata div.profilazione div.second {
  margin-top: 1em;
}
div.content.secondary section.cnt div.area-riservata div.recupero label,
div.content.secondary section.cnt div.area-riservata div.profilazione label {
  margin-bottom: 0;
}
div.content.secondary section.cnt div.area-riservata div.recupero input,
div.content.secondary section.cnt div.area-riservata div.profilazione input {
  text-align: left;
  padding: .25em 8px;
  margin: 0.25em 0;
  width: 60%;
}
div.content.secondary section.cnt div.area-riservata div.recupero input[type=button],
div.content.secondary section.cnt div.area-riservata div.profilazione input[type=button] {
  width: 40%;
  text-align: center;
}
div.content.secondary section.cnt div.area-riservata div.recupero p.hint,
div.content.secondary section.cnt div.area-riservata div.profilazione p.hint {
  margin-bottom: 0;
}
div.content.secondary section.cnt div.area-riservata div.profilazione label {
  margin-top: 0.5em;
}
div.content.secondary section.cnt div.area-riservata div.profilazione label.first {
  margin-top: 0;
}
div.content.secondary section.cnt div.area-riservata div.profilazione input[type=submit] {
  margin-top: 1em;
}
div.content.secondary section.cnt p.comment {
  font-style: italic;
}
div.content.secondary section.cnt p.comment::before {
  content: "__commento__";
}
div.content.secondary section.cnt.linee div.linee-filtro {
  background-color: #e7e8e9;
  padding: 1em 15px;
  margin-bottom: 1em;
}
div.content.secondary section.cnt.linee div.linee-filtro div.filtro-left {
  float: left;
  width: 45%;
}
div.content.secondary section.cnt.linee div.linee-filtro div.filtro-right {
  margin-left: 55%;
  width: 45%;
}
div.content.secondary section.cnt.linee div.linee-filtro label {
  font-size: 95%;
  margin-bottom: 0;
}
div.content.secondary section.cnt.linee div.linee-filtro input {
  text-align: left;
  font-size: 90%;
  padding: .25em 8px;
  width: 22%;
}
div.content.secondary section.cnt.linee div.linee-filtro input[type=submit] {
  margin-top: 1em;
  width: 22%;
  text-align: center;
}
div.content.secondary section.cnt.linee div.linee-filtro div.hint {
  font-size: 85%;
}
div.content.secondary section.cnt.linee input.linee-filtro input[type=button] {
  margin-top: 1em;
  width: 22%;
  text-align: center;
}
div.content.secondary section.cnt.linee div.linee-index thead {
  text-align: center;
}
div.content.secondary section.cnt.linee div.linee-index thead td.icona,
div.content.secondary section.cnt.linee div.linee-index thead td.percorso {
  text-align: left;
}
div.content.secondary section.cnt.linee div.linee-index tbody {
  text-align: center;
}
div.content.secondary section.cnt.linee div.linee-index tbody td {
  vertical-align: middle;
}
div.content.secondary section.cnt.linee div.linee-index tbody td.icona,
div.content.secondary section.cnt.linee div.linee-index tbody td.percorso {
  text-align: left;
}
div.content.secondary section.cnt.rss td {
  vertical-align: middle;
}
div.content.secondary section.cnt.rss td.icon,
div.content.secondary section.cnt.rss td.cb {
  text-align: center;
}
div.content.secondary section.cnt.rss label {
  width: 20%;
  font-size: 85%;
}
div.content.secondary section.footer {
  margin-top: 1em;
  color: #5a5a5a;
  font-size: 85%;
}
/* notizie */
div.content.secondary.notizie p.filter {
  margin-bottom: 20px;
}
div.content.secondary.notizie article {
  clear: both;
  margin-top: 1em;
  padding-top: 1em;
}
div.content.secondary.notizie article div.avvisi-news-icon {
  float: left;
  width: 1.5em;
}
div.content.secondary.notizie article div.avvisi-news-icon .fa {
  color: #333333;
}
div.content.secondary.notizie article div.avvisi-news-item {
  margin-left: 2em;
}
div.content.secondary.notizie article h4 {
  font-size: 92.85%;
  margin: 0;
  color: #5a5a5a;
}
div.content.secondary.notizie article h2 {
  margin: 0.25em 0;
  font-size: 114.28%;
  color: #005495;
}
div.content.secondary.notizie article a {
  color: #005495;
}
div.content.secondary.notizie article.first {
  margin-top: 0;
}
/* avvisi */
tr.avvisi {
  background-color: #e7e8e9;
}
article.avvisi {
  clear: both;
  margin-top: 1em;
}
article.avvisi div.avvisi-news-icon {
  float: left;
  width: 1.5em;
}
article.avvisi div.avvisi-news-icon .fa {
  color: #333333;
}
article.avvisi div.avvisi-news-item {
  margin-left: 2em;
  text-align: left;
}
article.avvisi h4 {
  font-size: 92.85%;
  margin: 0;
  color: #5a5a5a;
}
article.avvisi h2 {
  margin: 0.25em 0;
  font-size: 114.28%;
  color: #005495;
}
article.avvisi a {
  color: #005495;
}
article.avvisi.first {
  margin-top: 0;
}
div.content.secondary.notizie.approfondimenti img {
  width: 33%;
  float: left;
}
div.content.secondary.notizie.approfondimenti p {
  text-align: left;
  margin-left: 35%;
}
div.content.secondary.notizie.approfondimenti.dettaglio img {
  float: none;
  max-width: 100%;
  width: 70%;
}
div.content.secondary.notizie.approfondimenti.dettaglio p {
  margin-top: 1em;
  margin-left: 0;
}
/* RSS */
div.content.secondary.rss section.cnt.rss div.rss-wrapper {
  background-color: #e7e8e9;
}
div.content.secondary.rss section.cnt.rss div.rss-wrapper div.rss-box {
  padding: 1em 15px;
}
div.content.secondary.rss section.cnt.rss div.rss-wrapper div.rss-box h2 {
  margin: 0;
  margin-bottom: 0.5em;
  padding-bottom: 0.25em;
  font-size: 120%;
  border-bottom: 1px solid white;
}
div.content.secondary.rss section.cnt.rss div.rss-wrapper div.rss-servizio td {
  padding: 0.25em 6px;
}
div.content.secondary.rss section.cnt.rss div.rss-wrapper div.rss-servizio td:first-child {
  padding-left: 0;
}
div.content.secondary.rss section.cnt.rss div.rss-wrapper div.rss-servizio thead td {
  font-weight: bolder;
}
div.content.secondary.rss section.cnt.rss div.rss-wrapper div.rss-servizio select {
  width: 60%;
}
div.content.secondary.rss section.cnt.rss div.rss-wrapper div.rss-servizio .form-control {
  display: inline-block;
}
div.content.secondary.rss section.cnt.rss div.rss-wrapper div.rss-iscrizione label {
  font-size: 90%;
  width: auto;
}
div.content.secondary.rss section.cnt.rss div.rss-wrapper div.rss-iscrizione input,
div.content.secondary.rss section.cnt.rss div.rss-wrapper div.rss-iscrizione textarea {
  width: 50%;
  padding: 0.25em 6px;
  margin-bottom: 1em;
  text-align: left;
}
div.content.secondary.rss section.cnt.rss div.rss-wrapper div.rss-iscrizione textarea {
  font-size: 90%;
  width: 75%;
  color: #5a5a5a;
}
div.content.secondary.rss section.cnt.rss div.rss-wrapper div.rss-iscrizione input[type=checkbox] {
  float: left;
  width: 5%;
}
div.content.secondary.rss section.cnt.rss div.rss-wrapper div.rss-iscrizione p.privacy {
  margin-left: 7%;
}
div.content.secondary.rss section.cnt.rss div.rss-wrapper div.rss-iscrizione input[type=submit] {
  width: 20%;
  text-align: center;
}
/* form contatti */
div.content.secondary.form-contatti header h2 {
  margin-bottom: 2em;
}
div.content.secondary.form-contatti div.form input,
div.content.secondary.form-contatti div.form textarea,
div.content.secondary.form-contatti div.form select {
  display: block;
  width: 75%;
}
div.content.secondary.form-contatti div.form input[type="radio"] {
  width: auto;
}
div.content.secondary.form-contatti div.form input,
div.content.secondary.form-contatti div.form textarea {
  padding: 0.25em 6px;
  margin-bottom: 1em;
  text-align: left;
}
div.content.secondary.form-contatti div.form select[name="categoria"] {
  margin-bottom: 2em;
}
div.content.secondary.form-contatti div.form textarea {
  font-size: 90%;
  color: #5a5a5a;
  text-align: left;
}
div.content.secondary.form-contatti div.form input[type=checkbox] {
  float: left;
  width: 5%;
}
div.content.secondary.form-contatti div.form p.privacy {
  margin-left: 7%;
}
div.content.secondary.form-contatti div.form input[type=submit] {
  width: 20%;
  text-align: center;
}
div.content.secondary.form-contatti div.form .checkbox {
  line-height: 2em;
}
div.content.secondary.form-contatti div.form p.campi-obbligatori {
  font-size: 90%;
  margin-top: 2em;
}
/* bandi e gare */
div.content.secondary.bandi-gare h3 {
  font-size: 100%;
  color: #005495;
  margin: 0.5em 0;
  cursor: pointer;
}
div.content.secondary.bandi-gare h3:hover {
  text-decoration: underline;
}
div.content.secondary.bandi-gare section.cnt h2 {
  margin: 1em 0 0.5em 0;
  font-size: 120%;
  font-weight: bolder;
  text-transform: uppercase;
}
div.content.secondary.bandi-gare section.bando-wrapper {
  border: none;
  border-bottom: 1px solid #005495;
  padding: 0;
  margin-bottom: 1em;
}
div.content.secondary.bandi-gare header.tipologia-bando {
  color: #333333;
  font-weight: bolder;
  margin: 0 0 0.25em 0;
  cursor: pointer;
}
div.content.secondary.bandi-gare header.tipologia-bando:hover {
  text-decoration: underline;
}
div.content.secondary.bandi-gare table,
div.content.secondary.lavora-con-noi table {
  background-color: #f0f0f0;
  font-size: 90%;
}
div.content.secondary.bandi-gare table tbody tr.header-gara,
div.content.secondary.lavora-con-noi table tbody tr.header-gara {
  font-weight: bolder;
}
div.content.secondary.bandi-gare table tbody tr.header-lotto td,
div.content.secondary.lavora-con-noi table tbody tr.header-lotto td {
  padding-top: 4px;
  padding-bottom: 4px;
}
div.content.secondary.bandi-gare table tbody td.qualificazione-durata,
div.content.secondary.lavora-con-noi table tbody td.qualificazione-durata {
  text-align: center;
}
div.content.secondary.bandi-gare table tbody td.scadenza,
div.content.secondary.lavora-con-noi table tbody td.scadenza {
  font-size: 95%;
}
div.content.secondary.bandi-gare table tbody div.gara-allegati-sx,
div.content.secondary.lavora-con-noi table tbody div.gara-allegati-sx {
  float: left;
  width: 10px;
}
div.content.secondary.bandi-gare table tbody td.chiarimenti,
div.content.secondary.lavora-con-noi table tbody td.chiarimenti {
  width: 25%;
}
div.content.secondary.bandi-gare table tbody div.gara-allegati-dx,
div.content.secondary.lavora-con-noi table tbody div.gara-allegati-dx {
  margin-left: 15px;
}
div.content.secondary.bandi-gare table tbody td.header-lotto,
div.content.secondary.lavora-con-noi table tbody td.header-lotto,
div.content.secondary.bandi-gare table tbody tr.header-gara,
div.content.secondary.lavora-con-noi table tbody tr.header-gara {
  background-color: #e7e8e9;
}
/* lavora con noi */
div.content.secondary.lavora-con-noi div.panel {
  width: 100%;
}
div.content.secondary.lavora-con-noi h3.panel-title {
  margin: 0;
  color: #005495;
}
div.content.secondary.lavora-con-noi h3 {
  font-size: 100%;
  color: #005495;
  margin: 0.5em 0;
  cursor: pointer;
}
div.content.secondary.lavora-con-noi h3:hover {
  text-decoration: underline;
}
div.content.secondary.lavora-con-noi section.cnt h2 {
  margin: 1em 0 0.5em 0;
  font-size: 120%;
  font-weight: bolder;
  text-transform: uppercase;
}
div.content.secondary.lavora-con-noi div.form label,
div.content.secondary.lavora-con-noi div.form input,
div.content.secondary.lavora-con-noi div.form textarea {
  display: block;
}
div.content.secondary.lavora-con-noi div.form input,
div.content.secondary.lavora-con-noi div.form select,
div.content.secondary.lavora-con-noi div.form textarea {
  text-align: left;
  width: 60%;
  margin-bottom: 1em;
}
div.content.secondary.lavora-con-noi div.form textarea {
  width: 80%;
  margin-bottom: 0.5em;
}
div.content.secondary.lavora-con-noi div.form input[type=checkbox] {
  width: 5%;
  display: inline;
  margin: 0;
}
div.content.secondary.lavora-con-noi div.form p.checkbox {
  display: inline;
  margin: 0;
  padding: 0;
}
div.content.secondary.lavora-con-noi div.form input[type=submit] {
  width: 20%;
  margin-top: 1em;
  text-align: center;
  text-transform: uppercase;
}
div.content.secondary.lavora-con-noi div.form label.checkbox {
  margin: 1em 0 0 0;
  padding: 0;
}
div.content.secondary.lavora-con-noi table tr.header-iscrizioni {
  font-weight: bolder;
}
div.content.secondary.lavora-con-noi table td.iscriviti .fa:hover {
  text-decoration: underline;
}
div.content.secondary.lavora-con-noi span.id-selezione {
  font-weight: bolder;
}
/* Google Transit */
div.content.secondary.google-transit div#info {
  margin: 1em 0;
}
div.content.secondary.google-transit div.form-group {
  margin-bottom: 0.5em;
}
div.content.secondary.google-transit div.form-group input,
div.content.secondary.google-transit div.form-group select {
  width: 80%;
}
div.content.secondary.google-transit div.adp-list {
  padding: 0.5em 10px;
}
div.content.secondary.google-transit div.adp-list ol > li {
  padding: 0.25em 6px;
}
/* risultati ricerca */
section.notizie.index.ricerca h2 {
  margin-bottom: 1em;
}
section.notizie.index.ricerca div.pager .pagination > .active > a {
  color: white;
  background-color: #0071bb;
  border-color: #0071bb;
}
section.notizie.index.ricerca div.pager a {
  color: #333333;
}
article.ricerca p.ricerca-keyword {
  font-size: 100%;
  margin: 1em 0 0 0;
  padding: 0;
}
article.ricerca form.ricerca-form p {
  margin: 0 0 1em 0;
  padding: 0;
  color: #c8c8c8;
}
article.ricerca ul.ricerca-dettaglio {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
article.ricerca ul.ricerca-dettaglio li {
  margin-bottom: 0.5em;
}
article.ricerca ul.ricerca-dettaglio li:last-child {
  margin-bottom: 0;
}
article.ricerca a.ricerca-link {
  color: #0071bb;
}
/* home page highlights */
div.highlights {
  margin-bottom: 1em;
  margin-top: 1em;
}
div.highlights h2 {
  margin: 0.5em 0;
  font-size: 150%;
  color: #005495;
}
div.highlights article,
div.small-highlights article {
  margin: 1em 0;
}
/* pager news */
div.RadDataPager_MetroTouch {
  margin-left: 2em;
  padding: 0;
  border: none;
}
div.RadDataPager_MetroTouch.rdpWrap {
  line-height: auto;
}
div.RadDataPager.rdpWrap {
  padding: 0 1em;
  line-height: auto;
}
.RadDataPager_MetroTouch .rdpNumPart a,
.RadDataPager_MetroTouch .rdpPagerButton,
.RadDataPager_MetroTouch .rdpWrap,
.RadDataPager_MetroTouch .rdpWrapRight,
.RadDataPager_MetroTouch .rdpWrapNone {
  line-height: auto;
}
.RadDataPager_MetroTouch .rdpNumPart a.rdpCurrentPage,
.RadDataPager_MetroTouch .rdpNumPart a.rdpCurrentPage:hover {
  background-color: #005495;
}
/**
 * Right sidebar
 */
div.right-sidebar {
  margin-top: 1.5em;
}
div.right-sidebar div.box div.box-content ul li {
  display: block;
}
/* allegati */
div.right-sidebar.allegati div.allegati-wrapper {
  clear: both;
  margin-bottom: 0.5em;
}
div.right-sidebar.allegati div.allegati-icon {
  float: left;
  width: 7%;
}
div.right-sidebar.allegati div.allegati-item {
  margin-left: 10%;
}
/* iscrizione-notizie */
div.iscrizione-notizie header p {
  margin: 0;
}
@media screen and (max-width: 991px) {
  div.content.secondary header h2 {
    width: 100%;
  }
  div.content.secondary header ul {
    clear: both;
    margin-left: 0;
    width: 100%;
    text-align: left;
  }
  div.content.secondary section.cnt.linee div.linee-filtro input {
    width: 100%;
  }
  div.content.secondary section.cnt.linee div.linee-filtro input[type=submit] {
    width: 45%;
  }
  div.content.secondary section.cnt.linee div.linee-filtro div.filtro-left {
    float: none;
    width: 100%;
  }
  div.content.secondary section.cnt.linee div.linee-filtro div.filtro-right {
    margin-top: 1em;
    margin-left: 0;
    width: 100%;
  }
}
/**
 * Footer
 */
footer {
  /*background-color: @dark-blue;*/

}
footer .footer-first {
  padding-left: 30px;
}
footer .footer-last {
  padding-right: 30px;
}
div.nav-footer {
  /*.shadow(0.6);*/

  margin-top: 2em;
  color: white;
}
div.nav-footer div.row {
  -webkit-box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.6);
  background-color: #005495;
  padding-bottom: 1em;
  /*margin: 1em 0;*/

}
div.nav-footer h3 {
  font-size: 100%;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 2px;
  margin-bottom: 0.25em;
  padding-bottom: 4px;
  border-bottom: 1px dotted #c8c8c8;
}
div.nav-footer ul {
  list-style-type: none;
  padding: 0;
}
div.nav-footer ul li {
  margin-bottom: 0.25em;
}
div.nav-footer ul li a {
  color: white;
  text-decoration: none;
}
div.nav-footer ul li a:hover {
  text-decoration: underline;
}
div.info-footer,
div.territori-footer {
  /*background-color: @dark-blue;*/

  color: white;
}
div.info-footer div.row,
div.territori-footer div.row {
  background-color: #005495;
  border-top: 1px solid #c8c8c8;
  padding-top: 2em;
  padding-bottom: 2em;
  /*margin: 1em 0;*/

  margin-top: 0;
}
div.info-footer p,
div.territori-footer p {
  font-size: 90%;
  line-height: 1.5em;
}
div.info-footer a.link-footer,
div.territori-footer a.link-footer {
  color: white;
}
div.territori-footer div.row {
  padding-top: 1em;
  padding-bottom: 1em;
}
div.territori-footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
div.territori-footer ul li {
  display: inline;
}
div.territori-footer ul li a {
  color: white;
  text-decoration: none;
}
div.territori-footer ul li a:hover {
  text-decoration: underline;
}
div.territori-footer ul li:after {
  content: "\00a0\00a0|\00a0\00a0";
}
div.territori-footer ul li:last-child:after {
  content: "";
}
div.territori-footer ul.major li a {
  font-weight: bolder;
}
div.territori-footer ul.minor {
  padding-top: 0.5em;
}
div.territori-footer ul.minor li a {
  font-size: 90%;
}
div.logo-regione-wrapper {
  width: 100%;
  text-align: right;
}
div.logo-regione-wrapper img {
  max-height: 60px;
}
@media screen and (max-width: 991px) {
  footer .footer-first {
    padding-left: 15px;
  }
  footer .footer-last {
    padding-right: 15px;
  }
}
/**
 * Carousel
**/
.carousel-control {
  display: none;
}
.carousel-inner img {
  width: 100%;
}
.carousel-inner div.carousel-caption {
  text-align: left;
  margin-left: -5%;
}
.carousel-inner div.carousel-caption h3 {
  font-size: 200%;
  font-family: 'LatoBold', Arial, sans-serif;
  margin-bottom: 0;
}
.carousel-inner div.carousel-caption p {
  font-size: 125%;
  font-family: 'LatoRegular', Arial, sans-serif;
}
div#banner ol.carousel-indicators {
  bottom: 2%;
}
div#banner div.carousel-caption {
  font-size: 100%;
  font-family: 'LatoRegular', Arial, sans-serif;
  text-align: left;
  margin: 0;
  padding: 0;
  left: 4%;
  bottom: 12%;
}
/**
 * Componenti Leonardo
 */
/**
  * SearchBox autocomplete
 **/
.rsbHeader ul,
.rsbListItem ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: inline-block;
  list-style-type: none;
}
.rsbHeader ul {
  padding-left: 5px;
  font-weight: bold;
}
.col1,
.col2,
.col3 {
  margin: 0;
  padding: 0 5px 0 0;
  width: 110px;
  line-height: 14px;
  float: left;
  font-size: 80%;
}
div.content.secondary section.cnt div.area-riservata input[type=button] {
  margin-top: 0.5em;
  width: 15%;
  text-align: center;
}
/**
  * RadWindow with close button
 **/
.rwControlButtons {
  position: relative;
}
.rwIcon {
  display: none !important;
}
.rwCloseButton {
  position: absolute;
  top: -18px;
  left: -8px;
  background-image: url(/assets/img/close_popup.png) !important;
  background-position: 0 0 !important;
  width: 30px !important;
  height: 30px !important;
}
.RadWindow_MetroTouch .rwTitleRow .rwTitlebar,
.RadWindow_MetroTouch .rwTitleRow .rwTopLeft,
.RadWindow_MetroTouch .rwTitleRow .rwTopRight {
  height: 1px !important;
  background-color: white !important;
}
.RadWindow_MetroTouch .rwTable .rwTitlebarControls {
  height: 1px !important;
}
.RadWindow_MetroTouch .rwTable .rwTitlebarControls em {
  font-size: 1px !important;
  padding: 0px 0 0 0!important;
}
/**
 * Pager
 */
div.RadDataPager.RadDataPager_MetroTouch {
  margin-top: 1em;
}
div.RadDataPager.RadDataPager_MetroTouch div.rdpWrap {
  padding: 0;
}
div.RadDataPager.RadDataPager_MetroTouch div.rdpWrap.rdpNumPart {
  padding: 0 15px;
  line-height: 30px;
}
div.RadDataPager.RadDataPager_MetroTouch .RadDataPager_MetroTouch .rdpNumPart a.rdpCurrentPage,
div.RadDataPager.RadDataPager_MetroTouch .RadDataPager_MetroTouch .rdpNumPart a.rdpCurrentPage:hover {
  background-color: #0071bb;
}
div.RadDataPager.RadDataPager_MetroTouch .RadDataPager_MetroTouch .rdpNumPart a,
div.RadDataPager.RadDataPager_MetroTouch .RadDataPager_MetroTouch .rdpPagerButton,
div.RadDataPager.RadDataPager_MetroTouch .RadDataPager_MetroTouch .rdpWrap,
div.RadDataPager.RadDataPager_MetroTouch .RadDataPager_MetroTouch .rdpWrapRight,
div.RadDataPager.RadDataPager_MetroTouch .RadDataPager_MetroTouch .rdpWrapNone {
  line-height: 30px;
}
/**
 * Ultimi ritocchi
 */
a[data-toggle="collapse"] {
  cursor: pointer;
}
